#### This is Owen Monroe's Jupyter Notebook for IS-567 Text Mining Homework Assignment 4
October 22, 2023

1. Create Your Own Word Embeddings

In [39]:
import pandas as pd
import numpy
import gensim
import re
from gensim.models import Word2Vec, KeyedVectors, FastText
from gensim.scripts.glove2word2vec import glove2word2vec
from gensim.test.utils import datapath

In [23]:
# Importing the data 

null_fairytale_df = pd.read_csv('fairy_tale.csv')
null_fairytale_df

/Users/owenmonroe/anaconda3/envs/textmining/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3508: DtypeWarning: Columns (4,5,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,fairy_tale,country,character,gender,count_of_appearance,if_main(>=20),sentences,sentences_list,Unnamed: 8,Unnamed: 9,...,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192
0,cannetella,NaN,wife,female,3,0,"but at last, after he had been married for man...","['but at last, after he had been married for m...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cannetella,NaN,heir,male,3,0,"the king, who felt himself growing old and fee...","['the king, who felt himself growing old and f...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cannetella,NaN,king,male,21,1,there was once upon a time a king who reigned ...,['there was once upon a time a king who reigne...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cannetella,NaN,man,male,18,0,"but at last, after he had been married for man...","['but at last, after he had been married for m...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cannetella,NaN,slave,male,1,0,"it is enough that i am once more with you, and...","['it is enough that i am once more with you, a...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6536,the_golden_blackbird,NaN,master,male,3,0,"?€?good gracious!?€? exclaimed the master, ?€?...","['?€?good gracious!?€? exclaimed the master, ?...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6537,the_golden_blackbird,NaN,father,male,7,0,"my father is old, and if he dies i shall inher...","['my father is old, and if he dies i shall inh...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6538,the_golden_blackbird,NaN,brother,male,10,0,the youth took the same direction as his broth...,['the youth took the same direction as his bro...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6539,the_golden_blackbird,NaN,girl,female,1,0,"the porcelain maiden is a young girl, beautifu...","['the porcelain maiden is a young girl, beauti...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6540,the_golden_blackbird,NaN,son,male,8,0,once upon a time there was a great lord who ha...,['once upon a time there was a great lord who ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Subsetting the Data

fairytail_df = null_fairytale_df.dropna(subset=['sentences'])

In [25]:
fairytail_df

,fairy_tale,country,character,gender,count_of_appearance,if_main(>=20),sentences,sentences_list,Unnamed: 8,Unnamed: 9,...,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190,Unnamed: 191,Unnamed: 192
0,cannetella,NaN,wife,female,3,0,"but at last, after he had been married for man...","['but at last, after he had been married for m...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cannetella,NaN,heir,male,3,0,"the king, who felt himself growing old and fee...","['the king, who felt himself growing old and f...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cannetella,NaN,king,male,21,1,there was once upon a time a king who reigned ...,['there was once upon a time a king who reigne...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cannetella,NaN,man,male,18,0,"but at last, after he had been married for man...","['but at last, after he had been married for m...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cannetella,NaN,slave,male,1,0,"it is enough that i am once more with you, and...","['it is enough that i am once more with you, a...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6536,the_golden_blackbird,NaN,master,male,3,0,"?€?good gracious!?€? exclaimed the master, ?€?...","['?€?good gracious!?€? exclaimed the master, ?...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6537,the_golden_blackbird,NaN,father,male,7,0,"my father is old, and if he dies i shall inher...","['my father is old, and if he dies i shall inh...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6538,the_golden_blackbird,NaN,brother,male,10,0,the youth took the same direction as his broth...,['the youth took the same direction as his bro...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6539,the_golden_blackbird,NaN,girl,female,1,0,"the porcelain maiden is a young girl, beautifu...","['the porcelain maiden is a young girl, beauti...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6540,the_golden_blackbird,NaN,son,male,8,0,once upon a time there was a great lord who ha...,['once upon a time there was a great lord who ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Tokenizing the Sentences column to create word embeddings 

sentences_list=[]

for line in fairytail_df['sentences']:
    line = line.lower()  
    words = re.findall(r'\b\w+\b', line)  
    sentences_list.append(words)

In [27]:
# Creating a SKIP GRAM word embedding

model_fairy_skip = Word2Vec(
        sentences_list,
        vector_size=300,
        window=5,
        min_count=1,
        sg=1)

In [36]:
# Top 20 most similar words to Man, Woman, King, Queen for SKIP GRAM word embeddings 

sim_skip_man = model_fairy_skip.wv.most_similar('man', topn=20)

sim_skip_woman = model_fairy_skip.wv.most_similar('woman', topn=20)

sim_skip_king = model_fairy_skip.wv.most_similar('king', topn=20)

sim_skip_queen = model_fairy_skip.wv.most_similar('queen', topn=20)

print('Top 20 Similar Words for SKIP GRAM Word Embedding')
print()
print(f'Top 20 Similar to Man: {sim_skip_man}')
print()
print(f'Top 20 Similar to Woman: {sim_skip_woman}')
print()
print(f'Top 20 Similar to King: {sim_skip_king}')
print()
print(f'Top 20 Similar to Queen: {sim_skip_queen}')

Top 20 Similar Words for SKIP GRAM Word Embedding

Top 20 Similar to Man: [('traveller', 0.5656145811080933), ('rascals', 0.5577424764633179), ('butler', 0.5519123673439026), ('cowherd', 0.5400987863540649), ('traveler', 0.539752185344696), ('buffalo', 0.5379766225814819), ('woodcutter', 0.5373008251190186), ('lassie', 0.5351888537406921), ('driver', 0.5347450375556946), ('genteel', 0.5336529612541199), ('decrepid', 0.5277686715126038), ('cobbler', 0.526962161064148), ('weaver', 0.5224345326423645), ('watanabe', 0.5222503542900085), ('hist', 0.5215283036231995), ('mending', 0.5204935669898987), ('squire', 0.5190044045448303), ('burner', 0.5178512930870056), ('labourer', 0.5159310698509216), ('youngster', 0.5145142078399658)]

Top 20 Similar to Woman: [('old', 0.6124891638755798), ('hag', 0.5595055222511292), ('butler', 0.5593602657318115), ('toad', 0.5302944183349609), ('deceitful', 0.5248093605041504), ('lassie', 0.5134479403495789), ('sorceress', 0.5129913091659546), ('ogress', 0.5072181224822998), ('dame', 0.5003782510757446), ('cobbler', 0.4987070858478546), ('washerwoman', 0.4967215061187744), ('witch', 0.49585217237472534), ('widow', 0.49387913942337036), ('envied', 0.4929876923561096), ('rags', 0.492040753364563), ('masilo', 0.4903510808944702), ('whereabouts', 0.4901712238788605), ('traveler', 0.4883817136287689), ('corva', 0.4861410856246948), ('crook', 0.48458385467529297)]

Top 20 Similar to King: [('frivola', 0.6038801074028015), ('kostiei', 0.590010941028595), ('fafnir', 0.5709179639816284), ('dungting', 0.5596954226493835), ('merlin', 0.5526883602142334), ('betroth', 0.55091792345047), ('playfellow', 0.5444881319999695), ('washerwoman', 0.5435105562210083), ('pasties', 0.5390165448188782), ('quimus', 0.5372216105461121), ('tidings', 0.5367612242698669), ('duke', 0.5343738794326782), ('advisers', 0.5342682600021362), ('timus', 0.5340180993080139), ('shasasa', 0.5339837074279785), ('ambassadors', 0.5330475568771362), ('slayer', 0.5322908759117126), ('miller', 0.5311948657035828), ('actually', 0.528902530670166), ('sabatella', 0.5288259983062744)]

Top 20 Similar to Queen: [('fiordelisa', 0.5045773386955261), ('cerisette', 0.5041389465332031), ('lindorm', 0.48308148980140686), ('heathen', 0.4818911552429199), ('olof', 0.48099732398986816), ('graciosa', 0.4726583659648895), ('dungting', 0.4716067910194397), ('gladness', 0.46940627694129944), ('turritella', 0.46889153122901917), ('hint', 0.4675404727458954), ('gemdelovely', 0.46736279129981995), ('grumpy', 0.46701839566230774), ('dotterine', 0.466884970664978), ('muffette', 0.4666775166988373), ('tulip', 0.46585923433303833), ('gridelin', 0.464844286441803), ('malcolm', 0.4629853069782257), ('disappearance', 0.4600413739681244), ('grieving', 0.45858412981033325), ('king', 0.4583114981651306)]

In [37]:
# Creating a CBOW word embedding

model_fairy_cbow = Word2Vec(
        sentences_list,
        vector_size=300,
        window=5,
        min_count=1,
        sg=0)

In [38]:
# Top 20 most similar words to Man, Woman, King, Queen for CBOW word embeddings 

sim_cbow_man = model_fairy_cbow.wv.most_similar('man', topn=20)

sim_cbow_woman = model_fairy_cbow.wv.most_similar('woman', topn=20)

sim_cbow_king = model_fairy_cbow.wv.most_similar('king', topn=20)

sim_cbow_queen = model_fairy_cbow.wv.most_similar('queen', topn=20)

print('Top 20 Similar Words for SKIP GRAM Word Embedding')
print()
print(f'Top 20 Similar to Man: {sim_cbow_man}')
print()
print(f'Top 20 Similar to Woman: {sim_cbow_woman}')
print()
print(f'Top 20 Similar to King: {sim_cbow_king}')
print()
print(f'Top 20 Similar to Queen: {sim_cbow_queen}')

Top 20 Similar Words for SKIP GRAM Word Embedding

Top 20 Similar to Man: [('gentleman', 0.7557704448699951), ('fellow', 0.7401665449142456), ('woman', 0.6572297811508179), ('wolf', 0.6333556175231934), ('magician', 0.6246768236160278), ('farmer', 0.6183725595474243), ('lad', 0.6127009391784668), ('shepherd', 0.6115300059318542), ('dame', 0.6057314276695251), ('beastie', 0.5835900902748108), ('manito', 0.5745090246200562), ('negro', 0.5732341408729553), ('fool', 0.5460941791534424), ('spitfire', 0.5460121631622314), ('butler', 0.544127345085144), ('gallants', 0.5436473488807678), ('housekeeper', 0.5367758870124817), ('hag', 0.5348663926124573), ('fisherman', 0.5333436131477356), ('couple', 0.5325249433517456)]

Top 20 Similar to Woman: [('witch', 0.8140804171562195), ('dame', 0.7392665147781372), ('nurse', 0.7332735657691956), ('hag', 0.6956865191459656), ('beastie', 0.6773059964179993), ('man', 0.6572297215461731), ('butler', 0.6546463966369629), ('lady', 0.648760199546814), ('manuscripts', 0.6313651204109192), ('nag', 0.6220991015434265), ('raft', 0.619149386882782), ('hopgiant', 0.6152924299240112), ('gentleman', 0.6130117774009705), ('eric', 0.6079246401786804), ('washerwoman', 0.6072286367416382), ('manito', 0.5962716937065125), ('fellow', 0.5961378216743469), ('birscha', 0.5928674340248108), ('magician', 0.5858330726623535), ('girl', 0.5839772820472717)]

Top 20 Similar to King: [('emperor', 0.6881261467933655), ('sultan', 0.646108090877533), ('governor', 0.5448834300041199), ('miller', 0.5432909727096558), ('magician', 0.5334864854812622), ('prince', 0.5167375802993774), ('youth', 0.5043832063674927), ('princess', 0.5019914507865906), ('knight', 0.5013452768325806), ('vizier', 0.4976770281791687), ('duke', 0.4943212866783142), ('gardener', 0.4929293692111969), ('chief', 0.48897674679756165), ('ambassador', 0.48307618498802185), ('marriage', 0.4828827977180481), ('judge', 0.48140498995780945), ('bride', 0.4670635461807251), ('washerwoman', 0.46489566564559937), ('merchant', 0.4625749886035919), ('apothecary', 0.46220025420188904)]

Top 20 Similar to Queen: [('princess', 0.659518837928772), ('fairy', 0.6036790609359741), ('stepmother', 0.5846916437149048), ('nurse', 0.5681580305099487), ('prince', 0.5616492629051208), ('ladies', 0.5393502712249756), ('lady', 0.5357993841171265), ('maiden', 0.5073722004890442), ('turritella', 0.5055111050605774), ('marriage', 0.5051333904266357), ('daughter', 0.49413666129112244), ('countess', 0.49360817670822144), ('girl', 0.4864850640296936), ('fiordelisa', 0.48340126872062683), ('sultan', 0.46583041548728943), ('youth', 0.4650237560272217), ('genius', 0.4639766812324524), ('beauty', 0.46121135354042053), ('husband', 0.4538261294364929), ('fairies', 0.4513729512691498)]

In [40]:
# Creating a FASTTEXT word embedding Model

model_fairy_fast = FastText(
        sentences_list,
        vector_size=300,
        window=5,
        min_count=1,
        sg=1)

In [41]:
# Top 20 most similar words to Man, Woman, King, Queen for FASTTEXT word embeddings 

sim_fast_man = model_fairy_fast.wv.most_similar('man', topn=20)

sim_fast_woman = model_fairy_fast.wv.most_similar('woman', topn=20)

sim_fast_king = model_fairy_fast.wv.most_similar('king', topn=20)

sim_fast_queen = model_fairy_fast.wv.most_similar('queen', topn=20)

print('Top 20 Similar Words for SKIP GRAM Word Embedding')
print()
print(f'Top 20 Similar to Man: {sim_fast_man}')
print()
print(f'Top 20 Similar to Woman: {sim_fast_woman}')
print()
print(f'Top 20 Similar to King: {sim_fast_king}')
print()
print(f'Top 20 Similar to Queen: {sim_fast_queen}')

Top 20 Similar Words for SKIP GRAM Word Embedding

Top 20 Similar to Man: [('bergman', 0.7351142764091492), ('lawman', 0.7222367525100708), ('zaman', 0.7171884179115295), ('lyman', 0.7162822484970093), ('marksman', 0.7067833542823792), ('roman', 0.6979021430015564), ('bugleman', 0.6846060156822205), ('dorman', 0.6778278350830078), ('hangman', 0.6759730577468872), ('herdsman', 0.6750156879425049), ('milkman', 0.6725713610649109), ('craftsman', 0.6646818518638611), ('seaman', 0.657578706741333), ('madman', 0.6571933627128601), ('woodman', 0.6484380960464478), ('german', 0.6464890241622925), ('footman', 0.6341878771781921), ('gintleman', 0.6341444849967957), ('kinsman', 0.6334304213523865), ('bellman', 0.623479425907135)]

Top 20 Similar to Woman: [('womanhood', 0.7955939769744873), ('roman', 0.7868207097053528), ('womanish', 0.7823467254638672), ('washerwoman', 0.7591012120246887), ('gentlewoman', 0.7541202902793884), ('lyman', 0.6377798318862915), ('milkman', 0.6365914344787598), ('countrywoman', 0.6277827024459839), ('bergman', 0.6216179132461548), ('woodman', 0.6123775839805603), ('zaman', 0.6005039811134338), ('lawman', 0.5956400632858276), ('herdsman', 0.594651997089386), ('goodman', 0.5887320041656494), ('scotsman', 0.5808367729187012), ('quarryman', 0.5786769390106201), ('old', 0.5778576731681824), ('bellman', 0.5652796030044556), ('footman', 0.5620561838150024), ('boatman', 0.5611192584037781)]

Top 20 Similar to King: [('kintoki', 0.6732026934623718), ('kinglet', 0.6564756631851196), ('kingfisher', 0.649232029914856), ('kingship', 0.6451277136802673), ('kin', 0.6393216848373413), ('kiu', 0.632420003414154), ('kinbras', 0.6037983298301697), ('frivola', 0.5991226434707642), ('kioto', 0.5955187082290649), ('kingly', 0.5930790305137634), ('sabatella', 0.5872963070869446), ('sylvia', 0.5858824253082275), ('malefactor', 0.5798913240432739), ('liking', 0.5714020133018494), ('amitofu', 0.57001131772995), ('doctorate', 0.5692074298858643), ('doctor', 0.5681726336479187), ('councillor', 0.5679979920387268), ('factor', 0.5669408440589905), ('dubula', 0.566899299621582)]

Top 20 Similar to Queen: [('queens', 0.8707440495491028), ('queenly', 0.8290749788284302), ('queer', 0.6644473671913147), ('queerly', 0.6480832695960999), ('quen', 0.6336190700531006), ('queerest', 0.6305506229400635), ('quesnoy', 0.590770423412323), ('ween', 0.5725419521331787), ('etiquette', 0.5487964749336243), ('sabatella', 0.543803870677948), ('kaween', 0.5378146171569824), ('coquette', 0.5376111268997192), ('pinkeen', 0.5319751501083374), ('ola', 0.5310789346694946), ('frivola', 0.5248878002166748), ('tulip', 0.5214627385139465), ('cerisette', 0.517784059047699), ('ahtola', 0.5172479152679443), ('predecessor', 0.5160306096076965), ('gridelin', 0.5144360065460205)]